html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background-color: whitesmoke;
  position: relative;
  z-index: 0; /* Ensure GreyButton and drag areas stack correctly */
}

@keyframes flairAnimation {
  0% {
    background: radial-gradient(
      circle at center,
      rgba(87, 133, 225, 0.5),
      rgba(0, 0, 255, 0.5)
    );
  }
  50% {
    background: radial-gradient(
      circle at center,
      rgba(0, 255, 0, 0.5),
      rgba(255, 255, 0, 0.5)
    );
  }
  100% {
    background: radial-gradient(
      circle at center,
      rgba(87, 133, 225, 0.5),
      rgba(0, 0, 255, 0.5)
    );
  }
}

.custom-heading {
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 3;
  max-width: 100vw;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 90%;
  max-width: 400px;
  max-height: 400px; /* Ensure the form doesn't exceed the viewport height */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s;
  position: absolute;
  z-index: 4;
}

.form:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  z-index: 5;
  color: black;
}

.close-button:hover {
  background: linear-gradient(to right, red, blue);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.account-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  width: 300px;
  max-height: 200px; /* Ensure the account menu doesn't exceed the viewport height */
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: box-shadow 0.3s;
  z-index: 4;
}

.account-menu.open {
  display: flex;
}

.account-menu:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.account-username {
  margin-top: 1em;
  font-size: 1.2em;
}

.account-menu-button {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 5;
}

.input {
  margin: 0.5em 0;
  padding: 0.75em;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.password-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
  width: 100%;
}

.toggle-password-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  padding: 0.5em 0;
  font-size: 0.9em;
  margin-top: 0.5em;
}

.toggle-password-button:hover {
  color: #0056b3;
}

.button,
.toggle-button,
.menu-button,
.logout-button {
  margin-top: 1em;
  padding: 0.75em;
  background: linear-gradient(to right, #ff0000, #0000ff);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s, transform 0.3s;
}

.button:hover,
.toggle-button:hover,
.menu-button:hover,
.logout-button:hover {
  background: linear-gradient(to right, #0000ff, #ff0000);
  transform: scale(1.05);
}

.grey-button-container {
  pointer-events: auto; /* Default */
  z-index: 10; /* Above the LabPad but below elements */
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 5; /* Ensures it stays on top */
  display: flex;
  align-items: center;
  cursor: move;
}

.grey-button-container.dragging {
  pointer-events: none; /* Disable events during dragging */
}

.hover-text {
  margin-right: 10px;
  font-size: 1em;
  color: black;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  transform: translateX(10px);
}

.grey-button-container:hover .hover-text {
  opacity: 1;
  transform: translateX(0);
}

.grey-button {
  background-color: linear-gradient(to right, #ff0000, #0000ff);
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.grey-button-container.hide {
  opacity: 0;
}

.grey-button:hover {
  background-color: linear-gradient(to right, #ff0000, #0000ff);
  transform: scale(1.05);
}

.grey-button-icon {
  width: 24px;
  height: 24px;
  pointer-events: none;
}

.chemical-equations {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: white;
  padding: 10px;
  border: 1px solid black;
  z-index: 10;
}

.lab-element:hover {
  cursor: pointer;
}

.equation {
  margin-bottom: 10px;
}
