.lab-pad {
  width: 80%;
  height: 70vh;
  border: 2px dashed black;
  margin: 20px auto;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
}

.lab-element {
  margin: 5px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 8px;
}
