.lab-pad {
  width: 100vw;
  height: 100vh;
  background-color: #e0f7fa;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
}

.lab-element {
  margin: 5px;
  padding: 10px;
  background-color: lightblue;
  border-radius: 8px;
  font-size: 2rem;
  font-weight: bold;
  cursor: grab;
}
